@font-face {
    font-display: swap; 
    font-family: 'dela';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/DelaGothicOne-Regular.ttf') format('truetype'); 
  }

  @font-face {
    font-display: swap; 
    font-family: 'bold';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/stolzl_bold.otf') format('opentype')
  }  

  @font-face {
    font-display: swap; 
    font-family: 'book';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/stolzl_book.otf') format('opentype')
  } 

  @font-face {
    font-display: swap; 
    font-family: 'light';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/stolzl_light.otf') format('opentype')
  } 

  @font-face {
    font-display: swap; 
    font-family: 'medium';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/stolzl_medium.otf') format('opentype')
  } 

  @font-face {
    font-display: swap; 
    font-family: 'stolzl-regular';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/stolzl_regular.otf') format('opentype')
  }

  @font-face {
    font-display: swap; 
    font-family: 'thin';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/stolzl_thin.otf') format('opentype')
  }