.contact {
  background-image: url("../../img/bottom.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  &__body {
    font-family: 'stolzl-regular';
    font-family: 16px;
    color: #fff;
    text-align: center;
    margin-bottom: 80px;
  }
  &__button {
    font-family: 'medium';
    font-size: 22px;
    color: #fff;
    padding: 47px 52px;
    background-color: #000;
    border-radius: 100px;
    margin-top: 33px;
    margin-bottom: 33px;
    position: relative;
    &::after {
        position: absolute;
        display: inline-block;
        content: "";
        width: 146px;
        height: 85px;
        background-image: url('../../img/arrow.svg');
        background-repeat: no-repeat;
        background-position: center;
        top: 0;
        right: calc(0% - 190px);
        background-size: contain;
    }
  }
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__dec {
    color: #fff;
  }
  &__form {
  }
  &__input {
    border: none;
    outline: none;
    background: none;
    padding: 21px 24px;
    font-family: "book";
    border-radius: 20px;
    width: 250px;
    background-color: #fff;
  }
  &__input-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 12px;
  }
  &__title {
    margin-top: 85px;
    font-family: "dela";
    font-size: 46px;
    text-align: center;
    text-transform: uppercase;
    max-width: 1080px;
    width: 100%;
    margin-bottom: 65px;
  }

  &__btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
