.footer {
    padding-top: 74px;
    background-color: #25262B;
  &__body {
    font-family: 'stolzl-regular';
    font-size: 12px;
    color: #fff;
    line-height: 18px;
    text-align: end;
  }
  &__bottom-body {
    font-family: 'light';
    font-size: 12px;
    color: #fff;
  }
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 72px;
  }

  &__container1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 28px;
    padding-bottom: 28px;
  }

  &__line {
    margin: 0;
    padding: 0;
    background: none;
    outline: none;
    border: none;
    border: 1px solid #4d4d4d;
  }
  &__wrapper {
    display: flex;
    align-items: center;
    gap: 16px;
  }
}


@media screen and (max-width: 575px) {
  .footer {
    &__container {
      flex-direction: column;
    }

    &__logo {
      margin-bottom: 25px;
    }
    
    &__body {
      order: 2;
      text-align: start;
    }

    &__telegram {
      order: 1;
    }

    &__container1 {
      flex-direction: column;
    }

    &__bottom-body {
      order: 2;
      margin-top: 17px;
    }
  }
}