.header {
  position: absolute;
  // background-color: #ff824d;
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #fff;
  z-index: 1000;
  transition: background-color 0.3s ease-in-out;
  &__btn {
  }
  &__container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__bg {
    background-color: #fff;
  }

  &__btn-img {
  }
  &__dec {
  }
  &__item {
  }
  &__item-link {
  }
  &__link {
  }
  &__link-img {
  }
  &__link-wrapper {
  }
  &__list {
  }
  &__logo {
  }
  &__logo-link {
  }
  &__menu {
    display: none;
    position: fixed;
    top: -200px;
    max-width: 1180px;
    width: 100%;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
  }
  &__menu-title {
  }
}

.header__menu.open {
  position: absolute;
  display: block;
  top: 120px;
}


@media screen and (max-width: 575px) {
  .header {
    &__btn-img {
      width: 26px;
    }

    &__logo {
      max-width: 163px;
      width: 100%;
    }
  }
}